﻿@using dekadowki.poburski.pl.Models
@{
    Layout = null;

    var filtrGodziny = new List<AspNetGodziny>();

    if(Session["filtrGodziny"] != null)
    {
        filtrGodziny = (List<AspNetGodziny>)Session["filtrGodziny"];
    }
    else
    {
        filtrGodziny = Help.GetGodzinyDoPogladu(User.Identity.Name);
    }
    Session["filtrGodziny"] = filtrGodziny;

    var brygadzisci = Session["filtrBrygadzisci"] == null ? Help.GetBrygadzistowZGodzin(filtrGodziny) : (List<Brygadzista>)Session["filtrBrygadzisci"];
    Session["filtrBrygadzisci"] = brygadzisci;
    var budowy = Session["filtrBudowy"] == null ? Help.GetBudowyZGodzin(filtrGodziny) : (List<Budowa>)Session["filtrBudowy"];
    Session["filtrBudowy"] = budowy;
    var tygodnie = Session["filtrTygodni"] == null ? Help.GetTygodnieZGodzin(filtrGodziny) : (List<Tydzien>)Session["filtrTygodni"];
    Session["filtrTygodni"] = tygodnie;

    int filtrBudowa = Session["FiltrBudowa"] != null ? Convert.ToInt32(Session["FiltrBudowa"]) : 0;
    int filtrBrygadzista = Session["FiltrBrygadzista"] != null ? Convert.ToInt32(Session["FiltrBrygadzista"]) : 0;
    int filtrTydzien = Session["FiltrTydzien"] != null ? Convert.ToInt32(Session["FiltrTydzien"]) : 0;
}

@using (Html.BeginForm("FiltrujPodglad", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="form-group no-print">
        <label class="sr-only" for="budowa">Budowa:</label>
        <select id="budowa" name="budowa" class="form-control">
            @if (filtrBudowa == 0)
            {
                <option value="0" selected>Wszystkie budowy</option>
            }
            else
            {
                <option value="0">Wszystkie budowy</option>
            }
            @foreach (var bud in budowy)
            {
                if (bud.Id != filtrBudowa)
                {
                    <option value="@bud.Id">@bud.Nazwa</option>
                }
                else
                {
                    <option value="@bud.Id" selected>@bud.Nazwa</option>
                }
            }
        </select>
    </div>
    <div class="form-group no-print">
        <label class="sr-only" for="tydzien">Tydzien:</label>
        <select id="tydzien" name="tydzien" class="form-control">
            @if (filtrTydzien == 0)
            {
                <option value="0" selected>Wszystkie tygodnie</option>
            }
            else
            {
                <option value="0">Wszystkie tygodnie</option>
            }
            @foreach (var tyd in tygodnie)
            {
                if (tyd != null)
                {
                    if (tyd.getRokTydzien() != Help.GetTydzien(filtrTydzien).getRokTydzien())
                    {
                        <option value="@tyd.getId()">@string.Format("{1} - {2} [Tydzień: {0}]", tyd.getRokTydzien(), Help.GetDayOfWeek(tyd.getRokTydzien(), 1), Help.GetDayOfWeek(tyd.getRokTydzien(), 7))</option>
                    }
                    else
                    {
                        <option value="@tyd.getId()" selected>@string.Format("{1} - {2} [Tydzień: {0}]", tyd.getRokTydzien(), Help.GetDayOfWeek(tyd.getRokTydzien(), 1), Help.GetDayOfWeek(tyd.getRokTydzien(), 7))</option>
                    }
                }
            }
        </select>
    </div>
    <div class="form-group no-print">
        <label class="sr-only" for="brygadzista">Brygadzista:</label>
        <select id="brygadzista" name="brygadzista" class="form-control">
            @if (filtrBudowa == 0)
            {
                <option value="0" selected>Wszyscy brygadziści</option>
            }
            else
            {
                <option value="0">Wszyscy brygadziści</option>
            }
            @foreach (var bry in brygadzisci.OrderBy(b => b.nazwa).ToList())
            {
                if (bry.GetId() != filtrBrygadzista)
                {
                    <option value="@bry.id">@bry.nazwa</option>
                }
                else
                {
                    <option value="@bry.id" selected>@bry.nazwa</option>
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary no-print">Filtruj</button>
}