﻿@using dekadowki.poburski.pl.Models
@{
    ViewBag.Title = "Strona główna";

    var errors = (List<string>)ViewBag.ErrorList;
    var brygada = (List<Brygada>)ViewBag.Brygada;
    var listaBrygadzistow = (List<Brygadzista>)ViewBag.Brygadzisci;
    var listaTygodni = (List<Tydzien>)ViewBag.Tydzien;

    bool admin = Help.SprawdzCzyAdmin(User.Identity.Name);
    var wiadomsci = (List<AspNetMessage>)ViewBag.Wiadomosci;

    var brygadzistaId = Help.GetIdIntranetFromDb(User.Identity.Name);
    var brygadzistaNazwa = Help.GetNameAndSurname(brygadzistaId);

    var currentRokTydzien = Help.GetCurrentWeek();

    bool przerwaTechniczna = false;
}

@if (wiadomsci.Count > 0)
{
    string message = "";
    foreach (var wiad in wiadomsci)
    {
        if (!message.Contains(wiad.tresc))
        {
            message += wiad.tresc + ". ";
        }
    }
    <script>
        var r = confirm("@message");
        if (r == true) {
            $.ajax({
                type: 'POST',
                url: "Home/ReadAllMessages",
                dataType: 'json',
                data: { brygadzistaid: @brygadzistaId },
                success: function (data) {
                },
                error: function (ex) {
                }
            });;
        }
    </script>
}

@foreach(var error in errors)
{
    <h2 style="color: red">@error</h2>
}

@if (przerwaTechniczna)
{
    <h1 style="color:red;">PRZERWA TECHNICZA</h1>
}
else
{
    if (admin)
    {
    <h1>Centrum administracyjne:</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mdb-color lighten-2 text-center z-depth-2">
                <img class="card-img-top" src="~/Content/images/export.jpg" alt="Export do intranetu" height="200">
                <div class="card-body">
                    <p class=""><strong>Export do intranetu</strong></p>
                    @Html.ActionLink("Przejdź", "Index", "Export", new { id = -1, tydzien = "a", budowa = -1 }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mdb-color lighten-2 text-center z-depth-2">
                <img class="card-img-top" src="~/Content/images/blokada.jpg" alt="Zablokuj lub odblokuj tydzień" height="200">
                <div class="card-body">
                    <p class=""><strong>Zablokuj/Odblokuj tydzień</strong></p>
                    @Html.ActionLink("Przejdź", "Blockade", "Home", new { year = DateTime.Now.Year }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
}
else
{
    int index = 0;

    <table style="width: 100%; margin-bottom: 20px;">
        <tr>
            <td style="width: 40%" align="left"><h1 style="float: left; margin-right: 20px;">Brygada: <br />@brygadzistaNazwa</h1></td>
            <td style="width: 25%" align="center">
                <label for="chooseTydzien">Wybierz tydzień: </label>
                <select onchange="changeSession(this)" id="chooseTydzien" name="tydzien" class="form-control">
                    @foreach (var tydzien in listaTygodni)
                    {
                        if (tydzien.getRokTydzien() != currentRokTydzien)
                        {
                            <option value="@tydzien.getId()">@string.Format("{1} - {2} [Tydzień: {0}]", tydzien.getRokTydzien(), Help.GetDayOfWeek(tydzien.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(tydzien.getRokTydzien(), 7).Substring(0, 5))</option>
                        }
                        else
                        {
                            <option value="@tydzien.getId()" selected>@string.Format("{1} - {2} [Tydzień: {0}]", tydzien.getRokTydzien(), Help.GetDayOfWeek(tydzien.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(tydzien.getRokTydzien(), 7).Substring(0, 5))</option>
                        }
                    }
                </select>
            </td>
            <td align="center" style="width: 25%"><p style="color: grey;">Bieżący tydzień: @currentRokTydzien</p></td>
            <td align="right" style="width: 10%"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Dodaj pracownika</button></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td colspan="2" align="right">
                <div class="row">
                    @Html.ActionLink("Przywróć", "GoBack", "Home", null, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Usuń wszystkich", "DeleteAll", "Home", null, new { @class = "btn btn-danger btn-sm" })
                </div>
            </td>
        </tr>
    </table>
    <div class="row">
        <table class="tabelaBrygada" border="1">
            <tr>
                <td align="right">Lp.</td>
                <td>Imię i nazwisko</td>
                <td>Brygadzista</td>
                <td align="center">Akcje</td>
            </tr>
            @foreach (var pracownik in brygada)
            {
                index++;
                var color = "white";
                if (brygadzistaId == pracownik.getId())
                {
                    color = "lightgray";
                }
                <tr style="background-color: @color">
                    <td align="right">@index</td>
                    <td width="800">@pracownik.getNazwa()</td>
                    @if (pracownik.getBrygadzistaId() != brygadzistaId && pracownik.getId() != brygadzistaId)
                    {
                        <td>@pracownik.getBrygadzistaNazwa()</td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                    @if (brygadzistaId != pracownik.getId())
                    {
                        <td align="center"><button type="button" class="btn btn-danger" onclick="confirmDelete(@string.Format("{0},'{1}'", pracownik.getId(), pracownik.getNazwa()))">x</button></td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                </tr>

            }
        </table>
    </div>
    <div class="row">
        @Html.ActionLink("Zatwierdź", "Index", "Dashboard", null, new { @class = "btn btn-success zatwierdzBrygade" })
    </div>
}


    <!--Error Modal-->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Wystąpiły następujące błędy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @foreach (var error in errors)
                        {
                            <p>@error</p>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <!--Add Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Dodaj pracownika do brygady</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Add", "Home", FormMethod.Post))
                {
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="answerInput">Wybierz pracownika: </label>
                            <input list="suggestionList" id="answerInput" class="form-control" required>
                            <datalist id="suggestionList">
                                @foreach (var pracownik in Help.GetBrygada(listaBrygadzistow[0].GetId(), true))
                                {
                                    <option data-value="@pracownik.getId()">@pracownik.getNazwa()</option>
                                }
                            </datalist>
                            <input type="hidden" name="answer" id="answerInput-hidden">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <input type="submit" value="Dodaj pracownika" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>

    if (errors.Count != 0)
    {
        <script>
            $("#errorModal").show();
        </script>
    }

    <script>
        document.getElementById("chooseTydzien").onchange();

        function confirmDelete(id, nazwa) {
            window.location.href = "\\Home\\Delete?idpracownika=" + id;
        }

        function changeSession(tydzien) {
            $.ajax({
                type: 'POST',
                url: "Home/ChangeWeek",
                dataType: 'json',
                data: { tydzien: tydzien.value },
                success: function (data) {
                },
                error: function (ex) {
                }
            });
        }

        document.querySelector('input[list]').addEventListener('input', function (e) {
            var input = e.target,
                list = input.getAttribute('list'),
                options = document.querySelectorAll('#' + list + ' option'),
                hiddenInput = document.getElementById(input.id + '-hidden'),
                inputValue = input.value;

            hiddenInput.value = inputValue;

            for (var i = 0; i < options.length; i++) {
                var option = options[i];

                if (option.innerText === inputValue) {
                    hiddenInput.value = option.getAttribute('data-value');
                    break;
                }
            }
        });
    </script>
}