﻿@using dekadowki.poburski.pl.Models
@{
    ViewBag.Title = "Podgląd";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";

    var godziny = (List<AspNetGodziny>)ViewBag.Preview;
    godziny = godziny.Take(100).ToList();

    var zmiana = Session["Zmiana"] != null ? Session["Zmiana"].ToString() : "";
    var zmienioneID = Session["ZmienioneID"] != null ? (int)Session["ZmienioneID"] : 0;

    Session["Zmiana"] = null;
    Session["ZmienioneID"] = null;

    var currentBrygadzista = -1;
    var currentBudowa = -1;
    var currentTydzien = "";
    var parity = "odd";
    bool zmianaGodzin = true;
    bool admin = Help.SprawdzCzyAdmin(User.Identity.Name);
}

<script>
    function ladujFiltr() {
        $(".partialContents").each(function (index, item) {
            var url = $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });
    };
</script>


<h2>Podgląd</h2>
<button class="btn btn-default" onclick="$('#filtrowanieDiv').removeAttr('style'); $(this).hide(); ladujFiltr();" id="filtrBtn">Włącz filtr</button>
<div class="partialContents" data-url="filtrowanie" style="display:none;" id="filtrowanieDiv">
    <div title="Widok ładuje się długo asynchronicznie, dlatego szybsza jest możliwość zobaczenia godzin pracowników w tabelce."><img src="~/Content/images/loading.gif" alt="Ładowanie" width="20" height="20" /> Przygotowywanie filtrów... Aby z nich skorzystać proszę czekać...</div>
</div>
<hr class="no-print" />
<table class="w100 printtable" id="dashboard-table" border="1">
    <tr class="printtr odd">
        <td align="center"><strong>Lp.</strong></td>
        @if (Help.SprawdzCzyAdmin(User.Identity.Name))
        {
            <td align="center"><strong>Eksportowano</strong></td>
        }
        <td align="center"><strong>Pracownik</strong></td>
        <td align="center"><strong>Tydzień</strong></td>
        <td align="center"><strong>Budowa</strong></td>
        <td align="center"><strong>Obecność</strong></td>
        <td align="center"><strong>Rodzaj</strong></td>
        <td align="center"><strong>Pn.</strong></td>
        <td align="center"><strong>Wt.</strong></td>
        <td align="center"><strong>Śr.</strong></td>
        <td align="center"><strong>Cz.</strong></td>
        <td align="center"><strong>Pi.</strong></td>
        <td align="center"><strong>So.</strong></td>
        <td align="center"><strong>Ni.</strong></td>
        <td align="center"><strong>Podpis pracownika</strong></td>
        <td align="center" class="no-print"><strong>Akcje</strong></td>
    </tr>
    @if (godziny.Count == 0)
    {
        <tr>
            <td colspan="16">BRAK REKORDÓW</td>
        </tr>
    }
    @for (int i = 0; i < godziny.Count; ++i)
    {
        if (currentBudowa != godziny[i].budowaID || currentTydzien != godziny[i].rokTydzien || currentBrygadzista != godziny[i].brygadzistaID)
        {
            currentBrygadzista = godziny[i].brygadzistaID;
            currentBudowa = godziny[i].budowaID;
            currentTydzien = godziny[i].rokTydzien;
            zmianaGodzin = true;
            if (parity == "odd")
            {
                parity = "even";
            }
            else
            {
                parity = "odd";
            }
        }
        else
        {
            zmianaGodzin = false;
        }
        if (zmienioneID == godziny[i].Id)
        {
            parity = "edited";
        }
        <tr class="@string.Format("{0} {1}", parity, "") printtr">
            <td align="center" valign="middle" rowspan="6">@string.Format("{0}", i + 1)</td>
            @if (Help.SprawdzCzyAdmin(User.Identity.Name))
            {
                if (zmiana == "Eksport" && zmienioneID == godziny[i].Id)
                {
                    <td align="center" valign="middle" rowspan="6"><strong style="background-color: lawngreen">@string.Format("{0}", godziny[i].export == 1 ? "TAK" : "NIE")</strong></td>
                }
                else
                {
                    var export = "NIE";
                    switch (godziny[i].export)
                    {
                        case 1: export = "TAK"; break;
                        case -1: export = "ANULOWANO"; break;
                    }
                    <td align="center" valign="middle" rowspan="6"><strong>@export</strong></td>
                }
            }
            <td align="center" valign="middle" rowspan="6" title="@godziny[i].pracownikID"><strong>@Help.GetNameAndSurname(godziny[i].pracownikID)</strong></td>
            <td align="center" valign="middle" rowspan="6" title="Wprowadzono: @godziny[i].data_wprowadzenia.Substring(0, 10)">@string.Format("{1} - {2} [Tydzień: {0}]", godziny[i].rokTydzien, Help.GetDayOfWeek(godziny[i].rokTydzien, 1).Substring(0, 5), Help.GetDayOfWeek(godziny[i].rokTydzien, 7).Substring(0, 5))</td>
            @if (godziny[i].budowaID != 0)
            {
                <td align="center" valign="middle" rowspan="6" title="@string.Format("{0} - {1}", godziny[i].budowaID, Help.GetNazwaBudowy(godziny[i].budowaID, true))">@Help.GetNazwaBudowy(godziny[i].budowaID, false)</td>
            }
            else
            {
                <td align="center" valign="middle" rowspan="6" title="@godziny[i].komentarz">@godziny[i].komentarz</td>
            }
            <td align="center" valign="middle" rowspan="6" title="@godziny[i].obecny"><strong>@Help.GetObecny(godziny[i].obecny)</strong></td>
        </tr>
        <tr class="@string.Format("{0} {1}", parity, "")">
            <td width="30" style="font-weight: bold;" align="center">OD:</td>
            <td align="center">@godziny[i].od_pn</td>
            <td align="center">@godziny[i].od_wt</td>
            <td align="center">@godziny[i].od_sr</td>
            <td align="center">@godziny[i].od_cz</td>
            <td align="center">@godziny[i].od_pi</td>
            <td align="center">@godziny[i].od_so</td>
            <td align="center">@godziny[i].od_ni</td>
            <td align="center" rowspan="6" width="300">
                @if (!string.IsNullOrEmpty(godziny[i].podpis))
                {
                    <img src="@string.Format("/Content/signatures/{0}", godziny[i].podpis)" title="@godziny[i].podpis" />
                }
            </td>
            @if (godziny[i].export == 1)
            {
                <td align="center" valign="middle" rowspan="6" class="no-print">
                    @if (admin)
                    {
                        <a href="@Url.Action("EksportGodziny", "Home", new { id = godziny[i].Id })" title="Eksport" class="btn btn-info btn-sm"><i class="fas fa-file-export"></i></a>
                    }
                    @if (zmianaGodzin)
                    {
                        <a href="@Url.Action("EditGodziny", "Home", new { id = godziny[i].Id, print = true })" title="Drukuj" class="btn btn-warning btn-sm"><i class="fas fa-print"></i></a>
                    }
                </td>
            }
            else
            {
                <td align="center" valign="middle" rowspan="6" nowrap class="no-print">
                    <a href="@Url.Action("DeleteGodziny", "Home", new { id = godziny[i].Id })" title="Usuń" class="btn btn-danger btn-sm" style="margin-left:10px;margin-bottom:10px;"><i class="fas fa-trash-alt"></i></a>
                    @if (admin)
                    {
                        <a href="@Url.Action("EksportGodziny", "Home", new { id = godziny[i].Id })" title="Eksport" class="btn btn-info btn-sm" style="margin-right:10px;margin-bottom:10px;"><i class="fas fa-file-export"></i></a>
                    }
                    @if (zmianaGodzin)
                    {
                        <br />
                        <a href="@Url.Action("EditGodziny", "Home", new { id = godziny[i].Id })" title="Edycja" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                        <a href="@Url.Action("EditGodziny", "Home", new { id = godziny[i].Id, print = true })" title="Drukuj" class="btn btn-warning btn-sm"><i class="fas fa-print"></i></a>
                    }
                </td>
            }
        </tr>
        <tr class="@string.Format("{0} {1}", parity, "")">
            <td width="30" style="font-weight: bold;" align="center">DO:</td>
            <td align="center">@godziny[i].do_pn</td>
            <td align="center">@godziny[i].do_wt</td>
            <td align="center">@godziny[i].do_sr</td>
            <td align="center">@godziny[i].do_cz</td>
            <td align="center">@godziny[i].do_pi</td>
            <td align="center">@godziny[i].do_so</td>
            <td align="center">@godziny[i].do_ni</td>
        </tr>
        <tr class="@string.Format("{0} {1}", parity, "")">
            <td style="font-weight: bold;" align="center">PRZESTOJE:</td>
            <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_pn)</td>
            <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_wt)</td>
            <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_sr)</td>
            <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_cz)</td>
            <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_pi)</td>
            <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_so)</td>
            <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_ni)</td>
        </tr>
        <tr class="@string.Format("{0} {1}", parity, "")">
            <td style="font-weight: bold;" align="center">DOJAZD:</td>
            <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_pn)</td>
            <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_wt)</td>
            <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_sr)</td>
            <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_cz)</td>
            <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_pi)</td>
            <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_so)</td>
            <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_ni)</td>
        </tr>
        <tr class="@string.Format("{0} {1}", parity, "")">
            <td style="font-weight: bold;" align="center">DIETA:</td>
            <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_pn))</td>
            <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_wt))</td>
            <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_sr))</td>
            <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_cz))</td>
            <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_pi))</td>
            <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_so))</td>
            <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_ni))</td>
        </tr>
    }
</table>
@if (godziny.Count == 100)
{
    <h3>Jeśli brakuje jakiegoś rekordu należy zwiększyć dokładność filtru.</h3>
}


@if (Help.isSession(Session["FiltrBudowa"]) || Help.isSession(Session["FiltrBrygadzista"]) || Help.isSession(Session["FiltrTydzien"]))
{
    <script>
        $(document).ready(function () {
            $('#filtrowanieDiv').removeAttr('style');
            $('#filtrBtn').hide();
            $(".partialContents").each(function (index, item) {
                var url = $(item).data("url");
                if (url && url.length > 0) {
                    $(item).load(url);
                }
            });
        });
    </script>
}