﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Blokada</h1>
    <h2 class="text-danger">Twoje konto zostało zablokowane. Skontaktuj się z administratorem aby odblokować konto</h2>
</hgroup>
