﻿@model dekadowki.poburski.pl.Models.IndexViewModel
@using dekadowki.poburski.pl.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Zarządzaj";

    bool admin = Help.SprawdzCzyAdmin(User.Identity.Name);
    List<User> userlist = (List<User>)ViewBag.UserList;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień swoje ustawienia konta.</h4>
    <p style="color:grey;"> Użytkownik: @User.Identity.GetUserName()</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Stwórz hasło", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Moje ustawienia:</dt>
        <dd>
            [@Html.ActionLink("Zarządzaj", "ChangeSettings")]
        </dd>
    </dl>
    @if (admin)
    {
        <dl class="dl-horizontal">
            <dt>Użytkownicy:</dt>
            <dd>
                @foreach (var user in userlist)
                {
                    string IsAdmin = "";
                    if (Help.SprawdzCzyAdmin(user.GetUserName()))
                    {
                        IsAdmin = "(Administrator)";
                    }
                    <p>@string.Format("{0} {1}", user.GetUserName(), IsAdmin)</p>
                }
            </dd>
        </dl>
    }
</div>
