﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #0a904d !important;
    border-color: #0a904d !important;
}

    .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

.tabelaBrygada {
    font-size: 16px;
    width: 100%;
    height: 55vh;
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.zatwierdzBrygade {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.w100 {
    width: 100%;
}

.even {
    background-color: white !important;
}

.odd {
    background-color: #E9E9E9;
}

.edited {
    background-color: aquamarine;
}

.disabled {
    background-color: #ccc !important;
}

.th {
    background-color: aquamarine;
    font-weight: bold;
}

@media print {
    .page-break {
        page-break-after: always;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}
