﻿@model DashboardViewModel
@using dekadowki.poburski.pl.Models
@{
    ViewBag.Title = "Wydruk";

    var tydzien = (Tydzien)ViewBag.Tydzien;
    var week = tydzien.getRokTydzien();
    var budowa = (Budowa)ViewBag.WybranaBudowa;
    var podpisy = (List<string>)ViewBag.Podpisy;
    Layout = "~/Views/Shared/_Blank.cshtml";

    List<int> liczbyDrukowanie = new List<int>();
    List<DniTygodnia> dniZerowe = Model.DniTygodnia.Where(b => b.od_pn.Replace(" ", "") == "00.00" && b.od_wt.Replace(" ", "") == "00.00" && b.od_sr.Replace(" ", "") == "00.00" && b.od_cz.Replace(" ", "") == "00.00" && b.od_pi.Replace(" ", "") == "00.00" && b.od_so.Replace(" ", "") == "00.00" && b.od_ni.Replace(" ", "") == "00.00").ToList();
    for (int ld = 4; ld < Model.DniTygodnia.Count - dniZerowe.Count; ld=ld+4)
    {
        liczbyDrukowanie.Add(ld);
    }
    int j = 0;
}
<div class="printArea w100">
    <table class="w100">
        <tr>
            <td><img src="http://www.poburski.pl/sites/all/themes/dachtechnik/images/logo.png" alt="logo" /></td>
            <td style="width: 30%;"><strong>[Nr]Nazwa budowy</strong>: @string.Format("{0}", budowa.Nazwa)</td>
            <td><strong>Rok</strong>: @tydzien.getRok()</td>
            <td><strong>Tydzień</strong>: @week</td>
            <td><strong>KW</strong>: <strong>OD</strong>: @Help.GetDayOfWeek(week, 1) <strong>DO</strong>: @Help.GetDayOfWeek(week, 7)</td>
        </tr>
    </table>
    <br />
    @for (int i = 0; i < Model.Brygada.Count; ++i)
    {
        if(Model.DniTygodnia[i].od_pn.Replace(" ", "") == "00.00"
            && Model.DniTygodnia[i].od_wt.Replace(" ", "") == "00.00"
            && Model.DniTygodnia[i].od_sr.Replace(" ", "") == "00.00"
            && Model.DniTygodnia[i].od_cz.Replace(" ", "") == "00.00"
            && Model.DniTygodnia[i].od_pi.Replace(" ", "") == "00.00"
            && Model.DniTygodnia[i].od_so.Replace(" ", "") == "00.00"
            && Model.DniTygodnia[i].od_ni.Replace(" ", "") == "00.00")
        {
            continue;
        }
        else
        {
            j++;
        }
        if (liczbyDrukowanie.Any(l => l == j))
        {
            <p style="page-break-after: always;">&nbsp;</p>
            <p style="page-break-before: always;">&nbsp;</p>
        }
        var parity = "even";
        <table class="w100 printtable" border="1">
            <tr class="printtr">
                <td width="100" align="center">Pracownik</td>
                <td align="center">Obecność</td>
                <td align="center">Rodzaj</td>
                <td align="center">Pn.  @Help.GetDayOfWeek(week, 1)</td>
                <td align="center">Wt.  @Help.GetDayOfWeek(week, 2)</td>
                <td align="center">Śr.  @Help.GetDayOfWeek(week, 3)</td>
                <td align="center">Cz.  @Help.GetDayOfWeek(week, 4)</td>
                <td align="center">Pi.  @Help.GetDayOfWeek(week, 5)</td>
                <td align="center">So.  @Help.GetDayOfWeek(week, 6)</td>
                <td align="center">Ni.  @Help.GetDayOfWeek(week, 7)</td>
                <td align="center">Podpis pracownika</td>
            </tr>
            <tr class="@string.Format("{0} {1}", parity, "") printtr">
                <td align="center" valign="middle" rowspan="6">@Html.DisplayFor(model => model.Brygada[i].Nazwa)</td>
                <td align="center" valign="middle" rowspan="6" title="@Model.DniTygodnia[i].obecny"><strong>@Help.GetObecny(Model.DniTygodnia[i].obecny)</strong></td>
            </tr>
            <tr class="@string.Format("{0} {1}", parity, "")">
                <td width="30" style="font-weight: bold;" align="center">GODZ OD:</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].od_pn, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].od_wt, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].od_sr, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].od_cz, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].od_pi, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].od_so, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].od_ni, new { @class = parity })</td>
                <td align="center" rowspan="6" style="width: 350px;">
                    @if (podpisy != null && podpisy.Count != 0 && !string.IsNullOrEmpty(podpisy[i]) && podpisy[i] != "")
                    {
                        <img src="@string.Format("/Content/signatures/{0}", podpisy[i])" />
                    }
                </td>
            </tr>
            <tr class="@string.Format("{0} {1}", parity, "")">
                <td width="30" style="font-weight: bold;" align="center">GODZ DO:</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].do_pn, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].do_wt, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].do_sr, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].do_cz, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].do_pi, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].do_so, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].do_ni, new { @class = parity })</td>
            </tr>
            <tr class="@string.Format("{0} {1}", parity, "")">
                <td style="font-weight: bold;" align="center">PRZESTOJE:</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].przestoje_pn, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].przestoje_wt, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].przestoje_sr, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].przestoje_cz, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].przestoje_pi, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].przestoje_so, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].przestoje_ni, new { @class = parity })</td>
            </tr>
            <tr class="@string.Format("{0} {1}", parity, "")">
                <td style="font-weight: bold;" align="center">DOJAZD:</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].dojazd_pn, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].dojazd_wt, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].dojazd_sr, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].dojazd_cz, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].dojazd_pi, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].dojazd_so, new { @class = parity })</td>
                <td align="center">@Html.DisplayFor(m => m.DniTygodnia[i].dojazd_ni, new { @class = parity })</td>
            </tr>
            <tr class="@string.Format("{0} {1}", parity, "")">
                <td style="font-weight: bold;" align="center">DIETA:</td>
                <td align="center">@Help.GetDieta(Model.DniTygodnia[i].dieta_pn)</td>
                <td align="center">@Help.GetDieta(Model.DniTygodnia[i].dieta_wt)</td>
                <td align="center">@Help.GetDieta(Model.DniTygodnia[i].dieta_sr)</td>
                <td align="center">@Help.GetDieta(Model.DniTygodnia[i].dieta_cz)</td>
                <td align="center">@Help.GetDieta(Model.DniTygodnia[i].dieta_pi)</td>
                <td align="center">@Help.GetDieta(Model.DniTygodnia[i].dieta_so)</td>
                <td align="center">@Help.GetDieta(Model.DniTygodnia[i].dieta_ni)</td>
            </tr>

        </table>
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    }
</div>