﻿@model ExportViewModel
@using dekadowki.poburski.pl.Models

@{
    ViewBag.Title = "Eksport";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string message = ViewBag.Message != null ? ViewBag.Message : "";
    var budowy = (List<Budowa>)ViewBag.Budowy;
    bool czyBudowaIstnieje = true;

    var godziny = (List<AspNetGodziny>)ViewBag.Preview;

}

<h2>@message</h2>

@using (Html.BeginForm("Export", "Export", FormMethod.Post, new { id = "exportForm" }))
{
    <div class="form-group">
        <label for="brygadzista">Brygadzista:</label>
        <select name="brygadzista" id="brygadzista" onchange="ZmienBrygadziste(this.value)" class="form-control">
            @foreach (var brygadzista in Model.ListaBrygadzistow)
            {
                if (brygadzista.GetId() != Convert.ToInt32(Request["id"]))
                {
                    <option value="@brygadzista.GetId()">@brygadzista.GetName()</option>
                }
                else
                {
                    <option value="@brygadzista.GetId()" selected>@brygadzista.GetName()</option>
                }
            }
            @if (Model.ListaBrygadzistow.Count == 0)
            {
                <option value="BRAK">BRAK</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="tydzien">Tydzien:</label>
        <select name="tydzien" id="tydzien" class="form-control" onchange="ZmienTygodnie(document.getElementById('brygadzista').value, this.value)">
            @if (Model.TygodnieDoAkceptacji.Count != 0)
            {
                foreach (var tydzien in Model.TygodnieDoAkceptacji)
                {
                    if (tydzien != Request["tydzien"])
                    {
                        <option value="@tydzien">@string.Format("{0} - {1} [Tydzień: {2}]", Help.GetDayOfWeek(tydzien, 1), Help.GetDayOfWeek(tydzien, 7), tydzien)</option>
                    }
                    else
                    {
                        <option value="@tydzien" selected>@string.Format("{0} - {1} [Tydzień: {2}]", Help.GetDayOfWeek(tydzien, 1), Help.GetDayOfWeek(tydzien, 7), tydzien)</option>
                    }
                }
            }
            else
            {
                <option value="0">BRAK</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="tydzien">Budowy:</label>
        <select name="budowaFiltr" id="budowaFiltr" class="form-control" onchange="ZmienBudowe(document.getElementById('brygadzista').value, document.getElementById('tydzien').value, this.value)">
            <option value="-1">WSZYSTKIE</option>
                @foreach (var budowa in godziny.Select(g => g.budowaID).Distinct().ToList())
                {
                    if (budowa != Convert.ToInt32(Request["budowa"]))
                    {
                        <option value="@budowa">@Help.GetNazwaBudowy(budowa, true)</option>
                    }
                    else
                    {
                        <option value="@budowa" selected>@Help.GetNazwaBudowy(budowa, true)</option>
                    }
                }
        </select>
    </div>


    if (Model.TygodnieDoAkceptacji.Count != 0 && godziny != null)
    {
        <!-- Podgląd -->
        <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="width: 95%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Podgląd</h5>
                    </div>
                    <div class="modal-body">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                        <button onclick="accept()" class="btn btn-primary" style="float: right;">Zatwierdź tydzień</button>
                        <br />
                        <br />
                        <br />
                        <table class="w100 printtable" border="1">
                            <tr class="printtr">
                                <td width="100" align="center">Pracownik</td>
                                <td align="center">Budowa</td>
                                <td align="center">Obecność</td>
                                <td align="center">Daty</td>
                                <td align="center">Rodzaj</td>
                                <td align="center">Pn.</td>
                                <td align="center">Wt.</td>
                                <td align="center">Śr.</td>
                                <td align="center">Cz.</td>
                                <td align="center">Pi.</td>
                                <td align="center">So.</td>
                                <td align="center">Ni.</td>
                                <td align="center">Podpis pracownika</td>
                            </tr>
                            @for (int i = 0; i < godziny.Count; ++i)
                            {
                                var parity = "odd";
                                if (i % 2 == 0)
                                {
                                    parity = "even";
                                }
                        <tr class="@string.Format("{0} {1}", parity, "") printtr">
                            <td align="center" valign="middle" rowspan="6">@Help.GetNameAndSurname(godziny[i].pracownikID)</td>
                            @if (godziny[i].budowaID != 0)
                            {
                                <td align="center" valign="middle" rowspan="6" title="@Help.GetNazwaBudowy(godziny[i].budowaID, true)">
                                    @Help.GetNazwaBudowy(godziny[i].budowaID, false)
                                    <script>$("#answerInput")</script>
                                </td>
                            }
                            else
                            {
                                czyBudowaIstnieje = false;
                                <td align="center" valign="middle" rowspan="6" title="@godziny[i].komentarz">@godziny[i].komentarz</td>
                            }

                            <td align="center" valign="middle" rowspan="6" title="@godziny[i].obecny"><strong>@Help.GetObecny(godziny[i].obecny)</strong></td>
                            <td align="center" nowrap valign="middle" rowspan="6" title="@string.Format("{0} [{1} do {2}]", godziny[i].rokTydzien, Help.GetDayOfWeek(godziny[i].rokTydzien, 1).Substring(0, 5), Help.GetDayOfWeek(godziny[i].rokTydzien, 7).Substring(0, 5))">@string.Format("{1} - {2}", godziny[i].rokTydzien, Help.GetDayOfWeek(godziny[i].rokTydzien, 1).Substring(0, 5), Help.GetDayOfWeek(godziny[i].rokTydzien, 7))</td>
                        </tr>
                                <tr class="@string.Format("{0} {1}", parity, "")">
                                    <td width="30" style="font-weight: bold;" align="center">OD:</td>
                                    <td align="center">@godziny[i].od_pn</td>
                                    <td align="center">@godziny[i].od_wt</td>
                                    <td align="center">@godziny[i].od_sr</td>
                                    <td align="center">@godziny[i].od_cz</td>
                                    <td align="center">@godziny[i].od_pi</td>
                                    <td align="center">@godziny[i].od_so</td>
                                    <td align="center">@godziny[i].od_ni</td>
                                    <td align="center" rowspan="6">
                                        @if (!string.IsNullOrEmpty(godziny[i].podpis))
                                        {
                                            <img src="@string.Format("/Content/signatures/{0}", godziny[i].podpis)" />
                                        }
                                    </td>
                                </tr>
                                <tr class="@string.Format("{0} {1}", parity, "")">
                                    <td width="30" style="font-weight: bold;" align="center">DO:</td>
                                    <td align="center">@godziny[i].do_pn</td>
                                    <td align="center">@godziny[i].do_wt</td>
                                    <td align="center">@godziny[i].do_sr</td>
                                    <td align="center">@godziny[i].do_cz</td>
                                    <td align="center">@godziny[i].do_pi</td>
                                    <td align="center">@godziny[i].do_so</td>
                                    <td align="center">@godziny[i].do_ni</td>
                                </tr>
                                <tr class="@string.Format("{0} {1}", parity, "")">
                                    <td style="font-weight: bold;" align="center">PRZESTOJE:</td>
                                    <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_pn)</td>
                                    <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_wt)</td>
                                    <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_sr)</td>
                                    <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_cz)</td>
                                    <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_pi)</td>
                                    <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_so)</td>
                                    <td align="center">@Help.IsEmptyPrzestoje(godziny[i].przestoje_ni)</td>
                                </tr>
                                <tr class="@string.Format("{0} {1}", parity, "")">
                                    <td style="font-weight: bold;" align="center">DOJAZD:</td>
                                    <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_pn)</td>
                                    <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_wt)</td>
                                    <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_sr)</td>
                                    <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_cz)</td>
                                    <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_pi)</td>
                                    <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_so)</td>
                                    <td align="center">@Help.IsEmptyDojazd(godziny[i].dojazd_ni)</td>
                                </tr>
                                <tr class="@string.Format("{0} {1}", parity, "")">
                                    <td style="font-weight: bold;" align="center">DIETA:</td>
                                    <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_pn))</td>
                                    <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_wt))</td>
                                    <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_sr))</td>
                                    <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_cz))</td>
                                    <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_pi))</td>
                                    <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_so))</td>
                                    <td align="center">@Help.GetDieta(Convert.ToInt32(godziny[i].dieta_ni))</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>

        if (!czyBudowaIstnieje)
        {
            <h4>W tygodniu znaleziono budowę serwisową. Proszę stworzyć budowę i wybrać ją z listy.</h4>
            <div class="form-group">
                <label for="answerInput">Wybierz budowę: </label>
                <input list="suggestionList" id="answerInput" class="form-control" value="" required>
                <datalist id="suggestionList">
                    @foreach (var budowa in budowy)
                    {
                        <option data-value="@budowa.Id">@budowa.Nazwa</option>
                    }
                </datalist>
                <input type="hidden" name="budowa" id="answerInput-hidden" value="">
            </div>
        }
        else
        {
            <input type="hidden" name="budowa" id="answerInput-hidden" value="0">
        }

        <button onclick="accept()" class="btn btn-primary">Zatwierdź tydzień</button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#previewModal">Podgląd</button>
    }
}

<script>
    function ZmienBrygadziste(brygadzista) {
        window.location.href = "/Export?id=" + brygadzista + "&tydzien=a&budowa=-1";
    }

    function ZmienTygodnie(brygadzista, tydzien) {
        window.location.href = "/Export?id=" + brygadzista + "&tydzien=" + tydzien + "&budowa=-1";
    }

    function ZmienBudowe(brygadzista, tydzien, budowa) {
        window.location.href = "/Export?id=" + brygadzista + "&tydzien=" + tydzien + "&budowa=" + budowa;
    }

    $(document).ready(function () {
        document.getElementById('exportForm').onsubmit = function () {
            return confirm("Czy na pewno chcesz eksportować do intranetu?");
        }
    });

    //document.querySelector('input[list]').addEventListener('input', function (e) {
    //    var input = e.target,
    //        list = input.getAttribute('list'),
    //        options = document.querySelectorAll('#' + list + ' option'),
    //        hiddenInput = document.getElementById(input.id + '-hidden'),
    //        inputValue = input.value;

    //    hiddenInput.value = inputValue;

    //    for (var i = 0; i < options.length; i++) {
    //        var option = options[i];

    //        var number1 = option.innerText[0] + option.innerText[1] + option.innerText[2] + option.innerText[3] + option.innerText[4] + option.innerText[5];
    //        var number2 = inputValue[0] + inputValue[1] + inputValue[2] + inputValue[3] + inputValue[4] + inputValue[5];

    //        if (number1 === number2) {
    //            hiddenInput.value = option.getAttribute('data-value');
    //            break;
    //        }
    //    }
    //});
</script>
