﻿@using dekadowki.poburski.pl.Models
@using reCAPTCHA.MVC;

@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
    string user = Request.QueryString["usr"];
    bool admin = Help.SprawdzCzyAdmin(User.Identity.Name);

    bool captcha = ViewBag.Next == null ? false : true;
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Zaloguj się na konto</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", onchange = "this.value = this.value.replace(' ', '')" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zaloguj" class="btn btn-default" />
                    </div>
                </div>
                if (admin)
                {
                    <p>
                        @Html.ActionLink("Zarejestruj użytkownika", "Register")
                    </p>
                }
                if (captcha)
                {
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.Recaptcha()
                            @Html.ValidationMessage("ReCaptcha")
                        </div>
                    </div>
                }
            }
        </section>
    </div>
</div>

@if (!string.IsNullOrEmpty(user))
{
    <script>
        $(document).ready(function () {
            //your code here
            $("#Email").val('@user')
        });
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}