﻿@using dekadowki.poburski.pl.Models
@{
    ViewBag.Title = "Rozliczenie budowy";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";

    var listaTygodni = (List<Tydzien>)ViewBag.Tygodnie;
    var currentRokTydzien = Help.GetCurrentWeek();
    var budowy = (List<Budowa>)ViewBag.Budowy;

    var wybranaBudowa = ViewBag.WybranaBudowa != null ? (Budowa)ViewBag.WybranaBudowa : new Budowa(-1, "", "");
    var wybranyTydzien = ViewBag.WybranyTydzien != null ? ((Tydzien)ViewBag.WybranyTydzien).getRokTydzien() : currentRokTydzien;
    int kierownik = (int)ViewBag.Kierownik;

    var rozliczenie = (AspNetRozliczeniaBudow)ViewBag.Rozliczenie;
    var podpis = rozliczenie.podpis;
}
<br />
@using (Html.BeginForm("SaveRozliczenie", "RozliczeniaBudowy", FormMethod.Post))
{
    <input type="hidden" id="kierownik" name="kierownik" value="@kierownik" />
    <table style="width: 100%" border="1">
        <tr>
            <td colspan="4" align="center">
                <label for="chooseTydzien">Wybierz tydzień: </label>
                <select id="chooseTydzien" name="tydzien" class="form-control" onchange="change();">
                    @foreach (var tydzien in listaTygodni)
                {
                    if (tydzien.getRokTydzien() != wybranyTydzien)
                    {
                            <option value="@tydzien.getId()">@string.Format("{1} - {2} [Tydzień: {0}]", tydzien.getRokTydzien(), Help.GetDayOfWeek(tydzien.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(tydzien.getRokTydzien(), 7).Substring(0, 5))</option>
                        }
                        else
                        {
                            <option value="@tydzien.getId()" selected>@string.Format("{1} - {2} [Tydzień: {0}]", tydzien.getRokTydzien(), Help.GetDayOfWeek(tydzien.getRokTydzien(), 1).Substring(0, 5), Help.GetDayOfWeek(tydzien.getRokTydzien(), 7).Substring(0, 5))</option>
                        }
                    }
                </select>
            </td>
            <td colspan="4" align="center">
                <label for="answerInput">Wybierz budowę: </label>
                @if (wybranaBudowa.Id != -1)
                {
                    <input list="suggestionList" id="answerInput" class="form-control" value="@wybranaBudowa.Nazwa" required onchange="change()">
                }
                else
                {
                    <input list="suggestionList" id="answerInput" class="form-control" value="" required onchange="change()">
                }
                <datalist id="suggestionList">
                    @foreach (var budowa in budowy)
                {
                        <option data-value="@budowa.Id">@budowa.Nazwa</option>
                    }
                </datalist>
                @if (wybranaBudowa.Id != -1)
                {
                    <input type="hidden" name="budowa" id="answerInput-hidden" value="@wybranaBudowa.Id">
                }
                else
                {
                    <input type="hidden" name="budowa" id="answerInput-hidden" value="-1">
                }
            </td>
        </tr>
        @if (wybranaBudowa.Id != -1)
        {
            <tr>
                <td colspan="8" align="center"><strong>Powierzchnia zrobiona przez:</strong></td>
            </tr>
            <tr style="background-color: #DCDCDC;">
                <td colspan="2" style="width: 25%;">&nbsp;</td>
                <td style="width:12.5%" align="center"><strong>Poniedziałek</strong></td>
                <td style="width:12.5%" align="center"><strong>Wtorek</strong></td>
                <td style="width:12.5%" align="center"><strong>Środa</strong></td>
                <td style="width:12.5%" align="center"><strong>Czwartek</strong></td>
                <td style="width:12.5%" align="center"><strong>Piątek</strong></td>
                <td style="width:12.5%" align="center"><strong>Sobota</strong></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;">Poburski</td>
                <td><input type="number" class="form-control" name="powPob_pn" value="@rozliczenie.powPob_pn"/></td>
                <td><input type="number" class="form-control" name="powPob_wt" value="@rozliczenie.powPob_wt"/></td>
                <td><input type="number" class="form-control" name="powPob_sr" value="@rozliczenie.powPob_sr"/></td>
                <td><input type="number" class="form-control" name="powPob_cz" value="@rozliczenie.powPob_cz"/></td>
                <td><input type="number" class="form-control" name="powPob_pi" value="@rozliczenie.powPob_pi"/></td>
                <td><input type="number" class="form-control" name="powPob_so" value="@rozliczenie.powPob_so"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><input type="text" class="form-control" name="powExtra_nazwa" value="@rozliczenie.powExtra_nazwa" /></td>
                <td><input type="number" class="form-control" name="powExtra_pn" value="@rozliczenie.powExtra_pn" /></td>
                <td><input type="number" class="form-control" name="powExtra_wt" value="@rozliczenie.powExtra_wt" /></td>
                <td><input type="number" class="form-control" name="powExtra_sr" value="@rozliczenie.powExtra_sr" /></td>
                <td><input type="number" class="form-control" name="powExtra_cz" value="@rozliczenie.powExtra_cz" /></td>
                <td><input type="number" class="form-control" name="powExtra_pi" value="@rozliczenie.powExtra_pi" /></td>
                <td><input type="number" class="form-control" name="powExtra_so" value="@rozliczenie.powExtra_so" /></td>
            </tr>
            <tr style="background-color: #DCDCDC;">
                <td colspan="8" align="center"><strong>Godziny pracy:</strong></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;">Poburski</td>
                <td><input type="number" class="form-control" name="godzPob_pn" value="@rozliczenie.godzPob_pn"/></td>
                <td><input type="number" class="form-control" name="godzPob_wt" value="@rozliczenie.godzPob_wt"/></td>
                <td><input type="number" class="form-control" name="godzPob_sr" value="@rozliczenie.godzPob_sr"/></td>
                <td><input type="number" class="form-control" name="godzPob_cz" value="@rozliczenie.godzPob_cz"/></td>
                <td><input type="number" class="form-control" name="godzPob_pi" value="@rozliczenie.godzPob_pi"/></td>
                <td><input type="number" class="form-control" name="godzPob_so" value="@rozliczenie.godzPob_so"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><input type="text" class="form-control" name="godzExtra1_nazwa" value="@rozliczenie.godzExtra1_nazwa"  /></td>
                <td><input type="number" class="form-control" name="godzExtra1_pn" value="@rozliczenie.godzExtra1_pn"/></td>
                <td><input type="number" class="form-control" name="godzExtra1_wt" value="@rozliczenie.godzExtra1_wt"/></td>
                <td><input type="number" class="form-control" name="godzExtra1_sr" value="@rozliczenie.godzExtra1_sr"/></td>
                <td><input type="number" class="form-control" name="godzExtra1_cz" value="@rozliczenie.godzExtra1_cz"/></td>
                <td><input type="number" class="form-control" name="godzExtra1_pi" value="@rozliczenie.godzExtra1_pi"/></td>
                <td><input type="number" class="form-control" name="godzExtra1_so" value="@rozliczenie.godzExtra1_so"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><input type="text" class="form-control" name="godzExtra2_nazwa" value="@rozliczenie.godzExtra2_nazwa" /></td>
                <td><input type="number" class="form-control" name="godzExtra2_pn" value="@rozliczenie.godzExtra2_pn"/></td>
                <td><input type="number" class="form-control" name="godzExtra2_wt" value="@rozliczenie.godzExtra2_wt"/></td>
                <td><input type="number" class="form-control" name="godzExtra2_sr" value="@rozliczenie.godzExtra2_sr"/></td>
                <td><input type="number" class="form-control" name="godzExtra2_cz" value="@rozliczenie.godzExtra2_cz"/></td>
                <td><input type="number" class="form-control" name="godzExtra2_pi" value="@rozliczenie.godzExtra2_pi"/></td>
                <td><input type="number" class="form-control" name="godzExtra2_so" value="@rozliczenie.godzExtra2_so"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><input type="text" class="form-control" name="godzExtra3_nazwa" value="@rozliczenie.godzExtra3_nazwa" /></td>
                <td><input type="number" class="form-control" name="godzExtra3_pn" value="@rozliczenie.godzExtra3_pn"/></td>
                <td><input type="number" class="form-control" name="godzExtra3_wt" value="@rozliczenie.godzExtra3_wt"/></td>
                <td><input type="number" class="form-control" name="godzExtra3_sr" value="@rozliczenie.godzExtra3_sr"/></td>
                <td><input type="number" class="form-control" name="godzExtra3_cz" value="@rozliczenie.godzExtra3_cz"/></td>
                <td><input type="number" class="form-control" name="godzExtra3_pi" value="@rozliczenie.godzExtra3_pi"/></td>
                <td><input type="number" class="form-control" name="godzExtra3_so" value="@rozliczenie.godzExtra3_so"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;"><input type="text" class="form-control" name="godzExtra4_nazwa" value="@rozliczenie.godzExtra4_nazwa" /></td>
                <td><input type="number" class="form-control" name="godzExtra4_pn" value="@rozliczenie.godzExtra4_pn"/></td>
                <td><input type="number" class="form-control" name="godzExtra4_wt" value="@rozliczenie.godzExtra4_wt"/></td>
                <td><input type="number" class="form-control" name="godzExtra4_sr" value="@rozliczenie.godzExtra4_sr"/></td>
                <td><input type="number" class="form-control" name="godzExtra4_cz" value="@rozliczenie.godzExtra4_cz"/></td>
                <td><input type="number" class="form-control" name="godzExtra4_pi" value="@rozliczenie.godzExtra4_pi"/></td>
                <td><input type="number" class="form-control" name="godzExtra4_so" value="@rozliczenie.godzExtra4_so"/></td>
            </tr>
            <tr>
                <td colspan="8" align="center" style="background-color: #DCDCDC;"><strong>Godziny sprzętu:</strong></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;">Dźwig</td>
                <td><input type="number" class="form-control" name="dzwig_pn" value="@rozliczenie.dzwig_pn"/></td>
                <td><input type="number" class="form-control" name="dzwig_wt" value="@rozliczenie.dzwig_wt"/></td>
                <td><input type="number" class="form-control" name="dzwig_sr" value="@rozliczenie.dzwig_sr"/></td>
                <td><input type="number" class="form-control" name="dzwig_cz" value="@rozliczenie.dzwig_cz"/></td>
                <td><input type="number" class="form-control" name="dzwig_pi" value="@rozliczenie.dzwig_pi"/></td>
                <td><input type="number" class="form-control" name="dzwig_so" value="@rozliczenie.dzwig_so"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;">Cat</td>
                <td><input type="number" class="form-control" name="cat_pn" value="@rozliczenie.cat_pn"/></td>
                <td><input type="number" class="form-control" name="cat_wt" value="@rozliczenie.cat_wt"/></td>
                <td><input type="number" class="form-control" name="cat_sr" value="@rozliczenie.cat_sr"/></td>
                <td><input type="number" class="form-control" name="cat_cz" value="@rozliczenie.cat_cz"/></td>
                <td><input type="number" class="form-control" name="cat_pi" value="@rozliczenie.cat_pi"/></td>
                <td><input type="number" class="form-control" name="cat_so" value="@rozliczenie.cat_so"/></td>
            </tr>
            <tr>
                <td colspan="2" style="padding: 10px;">Manitou</td>
                <td><input type="number" class="form-control" name="manitou_pn" value="@rozliczenie.manitou_pn"/></td>
                <td><input type="number" class="form-control" name="manitou_wt" value="@rozliczenie.manitou_wt"/></td>
                <td><input type="number" class="form-control" name="manitou_sr" value="@rozliczenie.manitou_sr"/></td>
                <td><input type="number" class="form-control" name="manitou_cz" value="@rozliczenie.manitou_cz"/></td>
                <td><input type="number" class="form-control" name="manitou_pi" value="@rozliczenie.manitou_pi"/></td>
                <td><input type="number" class="form-control" name="manitou_so" value="@rozliczenie.manitou_so"/></td>
            </tr>
            <tr style="background-color: #DCDCDC;">
                <td colspan="2" style="padding: 10px;">Inne</td>
                <td><input type="number" class="form-control" name="inne_pn" value="@rozliczenie.inne_pn"/></td>
                <td><input type="number" class="form-control" name="inne_wt" value="@rozliczenie.inne_wt"/></td>
                <td><input type="number" class="form-control" name="inne_sr" value="@rozliczenie.inne_sr"/></td>
                <td><input type="number" class="form-control" name="inne_cz" value="@rozliczenie.inne_cz"/></td>
                <td><input type="number" class="form-control" name="inne_pi" value="@rozliczenie.inne_pt"/></td>
                <td><input type="number" class="form-control" name="inne_so" value="@rozliczenie.inne_so"/></td>
            </tr>
            <tr style="background-color: #DCDCDC;">
                <td colspan="2" style="padding: 10px;">Jakie?</td>
                <td><textarea rows="4" cols="50" class="form-control" name="notatki_pn">@rozliczenie.notatki_pn</textarea></td>
                <td><textarea rows="4" cols="50" class="form-control" name="notatki_wt">@rozliczenie.notatki_wt</textarea></td>
                <td><textarea rows="4" cols="50" class="form-control" name="notatki_sr">@rozliczenie.notatki_sr</textarea></td>
                <td><textarea rows="4" cols="50" class="form-control" name="notatki_cz">@rozliczenie.notatki_cz</textarea></td>
                <td><textarea rows="4" cols="50" class="form-control" name="notatki_pi">@rozliczenie.notatki_pi</textarea></td>
                <td><textarea rows="4" cols="50" class="form-control" name="notatki_so">@rozliczenie.notatki_so</textarea></td>
            </tr>
            <tr>
                <td colspan="8" align="center"><strong>Podpis:</strong></td>
            </tr>
            <tr>
                <td colspan="8" align="center">
                    @if (!string.IsNullOrEmpty(podpis))
                    {
                        <img src="@string.Format("/Content/signatures/{0}", podpis)" />
                        <input type="hidden" name="podpis" id="podpis" />
                        <canvas id="signature-pad" class="signature-pad" width="200" height="100" style="display: none;"></canvas>
                    }
                    else
                    {
                        <input type="hidden" name="podpis" id="podpis" />
                        <canvas id="signature-pad" class="signature-pad" style="width:250px;height:150px;border: 1px solid black;"></canvas>
                        <br /><a class="btn btn-sm btn-primary" onclick="ClearSignatures()">Wyczyść</a>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="8" align="center">
                    <button onclick="if($('#answerInput').val() != '') { $('#komenda').val('0'); saveSignatures();document.forms[0].submit(); }" class="btn btn-success w100">Zatwierdź</button>
                </td>
            </tr>
        }
    </table>

}

<script>
    function change() {
        location.href = "/RozliczeniaBudowy/Index?bud=" + $("#answerInput-hidden").val() + "&tyd=" + $("#chooseTydzien").val()
    }

    document.querySelector('input[list]').addEventListener('input', function (e) {
        var input = e.target,
            list = input.getAttribute('list'),
            options = document.querySelectorAll('#' + list + ' option'),
            hiddenInput = document.getElementById(input.id + '-hidden'),
            inputValue = input.value;

        hiddenInput.value = inputValue;

        for (var i = 0; i < options.length; i++) {
            var option = options[i];

            if (option.innerText === inputValue) {
                hiddenInput.value = option.getAttribute('data-value');
                break;
            }
        }
    });
    try {
        var signaturePad = new SignaturePad(document.getElementById('signature-pad'), {
            backgroundColor: 'rgba(255, 255, 255, 0)',
            penColor: 'rgb(0, 0, 0)'
        });
    }
    catch (error) {
    }

    function saveSignatures() {
        var canvas = 'signature-pad';
        var imageData = 'podpis';
        var image = document.getElementById(canvas).toDataURL("image/png");
        image = image.replace('data:image/png;base64,', '');
        document.getElementById(imageData).value = image;
    }

    function ClearSignatures() {
        $("canvas").each(function (index) {
            var canvas = $(this);
            var ctx = canvas.get(0).getContext('2d');
            ctx.clearRect(0, 0, canvas.get(0).width, canvas.get(0).height);
        });
    }
</script>